# Standardverhalten
* text=auto

# Bestimmte Dateien immer mit CRLF auschecken
*.bat text eol=crlf
*.py text eol=crlf
*.mac text eol=crlf

# Bestimmte Dateien immer mit LF auschecken
*.sh text eol=lf

# Binärdateien nie anfassen
*.png binary
*.jpg binary
