# Kconfig für Auswahl Systemvariante
mainmenu "CP/A System Konfiguration - Auswahl der zu verwendenden Variante [? für Hilfe]"
config HINT_INFO
    bool "=== Hinweise zur Konfiguration [? für Hilfe] ==="
    help
        Es können mehrere Quelltextversionen / Varianten hinterlegt sein. Hier wird ausgewählt, 
        welche verwendet werden soll. In README.md ist beschrieben, wie und wo man neue Varianten anlegen kann.
        Nachdem die gewünschte Variante ausgewählt wurde, das Menü mit [Q] oder [Esc] beenden und unbedingt Speichern.
    default n
choice
    prompt "Systemvariante"
    default VARIANT_bc_a5120
    help
        Mit [?] kann zu jeder Systemvariante der Inhalt der about.txt Datei
        aus dem jeweiligen src Ordner angezeigt werden.
config VARIANT_bc_a5120
    bool "bc_a5120"
    help
        Angeblich vom 25.09.89 - Läuft auf dem BC Vermutlich auch auf PC1715, CP/D und K8915
config VARIANT_bc_a5120_gide
    bool "bc_a5120_gide"
    help
        BC A5120 mit GIDE Erweiterung - Basiert auf bc_a5120 vom 25.09.89 mit Unterstützung für GIDE Hardware-Erweiterung (IDE-Festplatten/Flash-Speicher und optional RTC)
config VARIANT_pc_1715
    bool "pc_1715"
    help
        Angeblich vom 24.05.88 - Titel: BIOS CP/A fuer PC1715
config VARIANT_pc_1715_870330
    bool "pc_1715_870330"
    help
        Angeblich vom 30.03.87
endchoice
